// Put all sute vars here

$site-primary-color: #F5D361!default;
$site-primary-white: #FFF!default;
$site-primary-black: #000!default;
$site-primary-grey: #A9A9A9!default;

$site-form-label-color: #444!default;
$site-form-outline-color: #4D90FE!default;
$site-form-result-hover-color: #DFF6FF!default;